# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/artifacts/
.idea/codeStyles/
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
interface-alarm-hk7600/interface-alarm-hk7600.iml
interface-alarm-hk7600/target/
interface-camera-hk7600/interface-camera-hk7600.iml
interface-camera-hk7600/target/
interface-camera-hk9600/interface-camera-hk9600.iml
interface-camera-hk9600/target/
interface-gps-app/interface-gps-app.iml
interface-gps-app/target/
interface-gps-jt808/interface-gps-jt808.iml
interface-gps-scooper-v1/interface-gps-scooper-v1.iml
interface-hk8700/interface-hk8700.iml
interface-park-door-v2/interface-park-door-v2.iml
my-spring-integration.iml
spring-boot-common/spring-boot-common.iml
spring-boot-common/target/
spring-boot-dao/spring-boot-dao.iml
spring-boot-dao/target/
spring-boot-data-jt808/
spring-boot-domain/spring-boot-domain.iml
spring-boot-domain/target/
spring-boot-elasticsearch/spring-boot-elasticsearch.iml
spring-boot-elasticsearch/target/
spring-boot-redis/spring-boot-redis.iml
spring-boot-redis/target/
spring-boot-service/spring-boot-service.iml
spring-boot-service/target/
spring-boot-web/.DS_Store
spring-boot-web/spring-boot-web.iml
spring-boot-web/src/.DS_Store
spring-boot-web/src/main/.DS_Store
spring-boot-web/src/main/resources/.DS_Store
spring-boot-web/src/main/resources/sql/
spring-boot-web/target/
spring-data-park-door/
